---
---

@import "{{ site.theme }}";
    header p, footer p {
     display:none;
  }
  img { max-width:80%;}
  a {text-decoration: underline;
     color:black;}
  h1 a {text-decoration: none;
     font-size:calc(2vw + 2vh);}
  section {width:95vw;}
@media (max-width:3200px) {
   header {
      position:static;
   }
   .wrapper { 
      width: 100vw;
    }
    section {
      border-width:0px;
   }
}