---
---

@import "{{ site.theme }}";
    header p, footer p {
     display:none;
  }
  img { max-width:50%;}
  a {text-decoration: underline;
     color:black;}
  h1 a {text-decoration: none;
     font-size:calc(2vw + 2vh);}
 header {width:200px;}
  section {width:80vw;}
@media (max-width:3200px) {
   header {
      display:none !important;
   }
   .wrapper { 
      width: 100vw;
    }
}